<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.dishMapper">

<insert id="add" useGeneratedKeys="true" keyProperty="id">
    insert into dish (name, category_id, price, image, description, status, create_time, update_time, create_user,
                      update_user)
     values (#{name},#{categoryId},#{price},#{image},#{description},#{status},#{createTime},
            #{updateTime},#{createUser},#{updateUser})
</insert><!--  useGeneratedKeys="true" 返回主键值  keyProperty="id"  返回主键值 到id属性-->

    <select id="pageQuery" resultType="com.sky.vo.DishVO">
       select d.* ,c.name as categoryName from dish d left outer join category c on d.category_id = c.id

       <where>
           <if test="dto.name!=null">
               and d.name like concat('%',#{dto.name},'%')
           </if>
           <if test="dto.categoryId!=null">
               and d.category_id = #{dto.categoryId}
           </if>
           <if test="dto.status!=null">
               and d.status = #{dto.status}
           </if>
       </where>


    </select>
<!--    concat('%',#{dto.name},'%') 字符串拼接函数-->
<!--    #         ${ew.customSqlSegment}-->


</mapper>