<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sky.mapper.setmealMapper">

    <select id="pageQuery" resultType="com.sky.vo.SetmealVO">
        select s.* ,c.name as categoryName from setmeal s left outer join category c on s.category_id = c.id
        <if test="ew!=null">
        ${ew.customSqlSegment}
        </if>
<!--        <where>-->
<!--            <if test="dto.name!=null">-->
<!--                and s.name like concat('%',#{dto.name},'%')-->
<!--            </if>-->
<!--            <if test="dto.categoryId!=null">-->
<!--                and s.category_id = #{dto.categoryId}-->
<!--            </if>-->
<!--            <if test="dto.status!=null">-->
<!--                and s.status = #{dto.status}-->
<!--            </if>-->
<!--        </where>-->
    </select>
</mapper>
